.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  width: 200px;
  height: 200px;
  background-color: white;
  position: relative; /* Changed to relative */
  z-index: 1;
}

.circle {
  border: 2px solid;
  position: absolute;
  top: 75%;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  width: 125px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  z-index: 2;
}

.modifier {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  position: absolute; /* Position it absolutely within .circle */
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Center both horizontally and vertically */
}
