.img-loading {
  display: block;
  width: 5rem;
  animation: rotate 2000ms infinite;
}

@keyframes rotate {
  0% {
    transform: scale(1);
    transform: rotate(0deg);
  }
  100% {
    transform: scale(1);
    transform: rotate(360deg);
  }
}
